/************************************************************/
/**
 * Université Sorbonne Paris Nord, Programmation Web
 * Auteurs                       : Étienne André
 * Création                      : 2023/12/11
 * Dernière modification         : 2023/12/11
 */
/************************************************************/

body{
    background-color: green;
}


p {
    color: white;
}
h1 {
    text-align: center; /* Centre le titre horizontalement */
    font-size: 36px; /* Taille de la police */
    color:white; /* Couleur du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombre portée légère */
}

/* CSS pour le canvas 
#simulateur {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
    height: auto; 
    position: relative;
}*/

#container {
    text-align: center;
}


/* Style du curseur */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Style du curseur actif */
.slider:hover {
    opacity: 1;
}

/* Style de la barre de progression du curseur */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

/* Style du paragraphe */



button{
	font-family: monospace;
}


/* train.css */
#boutons {
    display: flex; /* Pour aligner les boutons horizontalement */
    justify-content: space-around; /* Pour répartir l'espace entre les boutons */
}

#boutons img {
    width: 68px; /* Largeur souhaitée */
    height: auto; /* Hauteur automatique pour maintenir le ratio */
    border: 2px solid green; /* Ajoute un contour noir de 2px autour de chaque bouton */
    border-radius: 5px; /* Ajoute un arrondi aux coins des boutons */
    padding: 5px; /* Ajoute un espace à l'intérieur des boutons */
}

#boutons img:active {
    border-color: gray; /* Change la couleur de la bordure en gris lorsque le bouton est activé (cliqué) */
}

/* Pour les écrans plus petits */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 6vw; /* Taille de police plus grande pour les écrans plus petits */
    }
    #boutons {
        flex-direction: column; /* Change la direction de flexbox pour empiler les boutons verticalement */
        align-items: center; /* Centre les boutons horizontalement */
    }
    #boutons img {
        width: 50px; /* Ajuste la largeur des boutons pour les écrans plus petits */
    }
}

